<div class="well">
    <form role="form" action="create-lead" method="post" onsubmit="return validate(this)">
        <div class="form-group">
            <label for="advisor">Advisor: </label>
            <input readonly id="advisor" maxlength="40" name="advisor" size="20" type="text" value="{{advisor}}" />
        </div>
        <div class="form-group">
            <label for="first_name">First Name: </label>
            <input class="form-control-alt input-sm" type="text" name="first_name" id="first_name" value="{{lead.first_name}}">
        </div>
        <button class="swap" type="button" id="1" onclick="swap(this)"> ⇌ </button>
        <div class="form-group">
            <label for="last_name">Last Name: </label>
            <input class="form-control-alt input-sm" type="text" name="last_name" id="last_name" value="{{lead.last_name}}">
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input class="form-control-alt input-sm" type="email" name="email" value="{{lead.email}}">
        </div>
        <div class="form-group">
            <label for="mobile">Mobile: </label>
            <input class="form-control-alt input-sm" type="tel" name="mobile" id="mobile" value="{{lead.mobile}}">
        </div>
        <button class="swap" type="button" id="2" onclick="swap(this)"> ⇌ </button>
        <div class="form-group">
            <label for="phone">Phone: </label>
            <input id="phone" maxlength="40" name="phone" id="phone" size="20" type="tel" value="{{lead.phone}}" />
        </div>
        <div class="form-group">
            <label for="company">Company: </label>
            <input class="form-control-alt input-sm" type="text" name="company" value="{{lead.company}}">
        </div>
        <div class="form-group">
            <label for="city">City: </label>
            <input class="form-control-alt input-sm" type="text" name="city" id="city" value="{{lead.city}}">
        </div>
        <button class="swap" type="button" id="3" onclick="swap(this)"> ⇌ </button>
        <div class="form-group">
            <label for="state">State: </label>
            <input class="form-control-alt input-sm" type="text" name="state" id="state" value="{{lead.state}}">
        </div>

        <button type="submit" class="btn primary-btn">Create Lead</button>
    </form>
</div>

<script>
    function validate(form) {
        // Will add some basic validation;
        return true;
    }

    function swap(e) {
        var firstElem = e.id == 1 ? document.getElementById('first_name') :
            e.id == 2 ? document.getElementById('mobile')
                : document.getElementById('city');
        var secondElem = e.id == 1 ? document.getElementById('last_name') :
            e.id == 2 ? document.getElementById('phone')
                : document.getElementById('state');
        var temp = firstElem.value;
        firstElem.value = secondElem.value;
        secondElem.value = temp;
    }

</script>